Source: opcua-wsdl
Priority: extra
Maintainer: Alexander Rykovanov <rykovanov.as@gmail.com>
Build-Depends: debhelper (>= 8.0.0), autotools-dev
Standards-Version: 3.9.4
Section: libs
Homepage: https://github.com/treww/opcua-wsdl
Vcs-Git: https://github.com/treww/opcua-wsdl.git

Package: opcua-wsdl-common
Section: libs
Architecture: amd64 i386
Depends: ${shlibs:Depends}, ${misc:Depends}, gsoap
Description: OPCUA soap protocol.

Package: opcua-wsdl-server
Section: libs
Architecture: amd64 i386
Depends: ${shlibs:Depends}, ${misc:Depends}, opcuaserver (= 0.1.3), opcua-wsdl-common (= 0.1.3)
Description: OPCUA soap server addon.

Package: opcua-wsdl-client
Section: libs
Architecture: amd64 i386
Depends: ${shlibs:Depends}, ${misc:Depends}, opcuaclient (= 0.1.3), opcua-wsdl-common (= 0.1.3)
Description: OPCUA soap client addon.

